@charset "UTF-8";

/* 링크 스타일 */
a:link{text-decoration:none; color:gray} /* 링크 상태일 때 */
a:visited{text-decoration:none; color:gray} /* 방문 여부에 따른 스타일 */
a:hover{text-decoration:none; color:black} /* 마우스 오버했을 때 */
a:active{text-decoration:underline; color:gray} /* 마우스를 누르고 있을 때 */